header {
  height: 10%;
  background-color: #1FFFF0;
}

nav#side {
  background-color: #ADADAD;
  float: left;
  width: 28%;
  height: 100%;
  margin: 1%;
}

#content-main, #content-dates, #content-socket, #content-seo {
  margin: 1%;
  padding: 2%;
  height: 100%;
  overflow-y: auto;
  text-align: top;
  background-color:  #FFFF47;
  border-radius: 5px;
}

#content-dates {
  background-color: #CCFF33;
}

#content-dates #output {
  width: 75%;
  background-color: #FF3300;
}   
