header {
 height: 15%;
 background-color: #1FFFF0;
}

nav#side {
 background-color: #ADADAD;
 float: left;
 width: 28%; #A
 height: 100%;
 margin: 1%;
}

#content {
 margin: 1%;
 padding: 2%;
 height: 100%;
 overflow-y: auto;
 text-align: top;
 background-color:  #FFFF66;
 border-radius: 5px;
}

#content .dateCalc {
  height: 100%;
  background-color: #CCFF99;
} 
