body {
    background:  #92dce0 !important;
}


#topNav {
  
  background-color: #92dce0;
  border-color:  #92dce0 !important;
}
.navbar-brand {
  font-size: 30px !important;
}

header {
  height: 10%;
  background-color: #3ec303;
}

.calcButton , .clearButton{
    padding: 10px 25px;
    display: inline-block;
/*    background-color: white !important;
    border: blue !important;
    color: blue !important;*/
}

/*.calcButton:hover , .clearButton:hover {
     background-color: #346392 !important;
    text-shadow: -1px 1px #27496d;
}*/

#side {
  background-color: #b5b5b5;
  float: left;
  width: 100%;
  height: 100%;
  margin: .5%;
  border-color: #92dce0;
}

#content-main, #content-dates, #content-socket, #content-seo {
  margin: .5%;
  padding: .5%;
  height: 100%;
  overflow-y: auto;
  text-align: top;
  background-color:  #7f909a;
  border-radius: 10px;
  
}

#content-dates #genericDate {
  background-color: #ff9900;
  border-radius: 10px;
  -moz-border-radius: 5px;
border-radius: 4px;
 
-webkit-box-shadow: 0px 11px 25px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 11px 25px rgba(50, 50, 50, 0.75);
box-shadow:         0px 11px 25px rgba(50, 50, 50, 0.75);
  
}

#content-dates #cemeteryDate {
  background-color: #f3843e;
  border-radius: 10px;
    -moz-border-radius: 5px;
border-radius: 4px;
  
-webkit-box-shadow: 0px 11px 25px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 11px 25px rgba(50, 50, 50, 0.75);
box-shadow:         0px 11px 25px rgba(50, 50, 50, 0.75);
}

#content-dates .output {
  width: 75%;
  font-size: 125%;
  //background-color: #FF6666;
}


.nav-sidebar {
  font-family: virtue;
  font-size: 20px;
  box-shadow:         0px 11px 25px rgba(50, 50, 50, 0.75);
}

#toggleButton {
  font-size: 15px;
  border: none !important;
  padding: 15px;
  text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
-webkit-box-shadow: 0px 11px 25px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 11px 25px rgba(50, 50, 50, 0.75);
box-shadow:         0px 11px 25px rgba(50, 50, 50, 0.75);

}

label.datecalc {
  
  font-size: 25px;
}

#seoPage {
  font-size: 20px;
}

#seoLink {
  color: aliceblue;
}

#messages {
  height: 200px;
  margin: 0;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
  list-style-type: none;
  background-color: white;
}

#messages li:nth-child(even) {
  border-radius: 5px;
  background-color: #00FFFF;
}

@media screen and (min-width: 771px) {
  #sendBtn {
    width: 10%;
  }
  #m {
    width: 90%;
  }
}

@media screen and (max-width: 770px) {

  #sendBtn {
    width: 20%;
    display: inline;
  }
  #m {
    width: 80%;
    display: inline;
  }
}



